<div class="footer">
   
    <div class="title">Contacter Nous</div>
    <div class="images">
        <img src="../../../assets/imgs/464834ff-ad1f-4da4-837e-78e389406b13.jpeg" alt="">
        <img src="../../../assets/imgs/22691ed4-c198-40d4-85cb-30817904a1a2.jpeg" alt="">
        <img src="../../../assets/imgs/3ad7ab5a-36ae-417c-8056-ca6cd30fd962.jpeg" alt="">
        <img src="../../../assets/imgs/7a2e4246-e6ff-4fec-a173-9fcb1d841b14.jpeg" alt="">
        <img src="../../../assets/imgs/54c9b2a3-92ca-4cde-929b-6fa9dda7a747.jpeg" alt="">

    </div>
    <div class="icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-icon name="call-outline"></ion-icon>
    </div>
    
</div>

<!--
 <div class="social">
        <ion-icon name="logo-facebook"></ion-icon>
        <span>hbtb</span>
    </div>
    <div class="social">
        <ion-icon name="mail-outline"></ion-icon>
        <span>hbtp@gmail.com</span>
    </div>
    <div class="social">
        <ion-icon name="logo-linkedin"></ion-icon>
        <span>hbtb</span>
    </div>
-->