* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.links {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 50%;
    margin: auto;
}

.links .link {
    border-bottom: 2px solid white;
    padding: 5px;
    cursor: pointer;
}

.copyright {
    font-size: 14px;
    
}

.footer {
    height: 350px;
    background-color: rgb(58, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid gray;
    color: white ;
}

.footer .title {
    font-size: 25px;
    font-weight: 600;
}
.footer .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.footer .images img {
    width: 150px;
    height: 150px;
}
.footer .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;   
    width: 30%;
}

.footer .icons ion-icon {
    font-size: 35px;
}






@media (max-width: 603px) {


.footer {
    height: 350px;
    background-color: rgb(54, 49, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid gray;
    color: white ;
}

.footer .title {
    font-size: 25px;
    font-weight: 600;
}

.footer .images img {
    width: 60px;
    height: 60px;
}
.footer .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;   
    width: 50%;
}

.footer .icons ion-icon {
    font-size: 35px;
}


.links {
    display: flex;
    width: 100%;

    
}

.footer .links .link {
    font-size: 12px;
    cursor: pointer;
}

ion-icon {
    cursor: pointer;
}
}

