<div class="footer">
   
    <div class="title">Contacter Nous</div>
    <div class="images">
        <div class="links">
            <div class="link" (click)="navigateToSection('home')">
                Home
            </div>
            <div class="link" (click)="navigateToSection('about')">
                About
            </div>
            <div class="link" (click)="navigateToSection('services')">
                Services
            </div>
            <div class="link" (click)="navigateToSection('contacts')">
                Contacts
            </div>
        </div>

    </div>
    <div class="icons">
        <ion-icon name="logo-facebook" (click)="openDialog()"></ion-icon> 
        <ion-icon name="mail-outline"  (click)="openDialog()"></ion-icon>
        <ion-icon name="call-outline"  (click)="openDialog()"></ion-icon>
    </div>
    <span class="copyright">&copy; 2024 H.Btp. All rights reserved.</span>
</div>

<!--
 <div class="social">
        <ion-icon name="logo-facebook"></ion-icon>
        <span>hbtb</span>
    </div>
    <div class="social">
        <ion-icon name="mail-outline"></ion-icon>
        <span>hbtp@gmail.com</span>
    </div>
    <div class="social">
        <ion-icon name="logo-linkedin"></ion-icon>
        <span>hbtb</span>
    </div>
-->