<div class="context" id="about">
    <div class="title"> A propos de H.BTP</div>
    <div class="details">
        <img src="../../../assets/imgs/travaux-de-terrassement.jpg" alt="">
       <div class="text">
       
         <span>H.btp</span> 
         <p>HBTP est une entreprise de terrassement renommée avec plus de [nombre d'années] d'expérience dans le domaine. Nous nous a à fournir des services de haute qualité, tout en respectant les délais et les budgets de nos clients. Qu'il s'agisse de travaux résidentiels ou commerciaux, notre équipe est équipée pour gérer tous types de projets, petits et grands.</p>
         
       </div>
    </div>
    <div class="mission">
      <div class="title">Notre mission</div>
      <span></span>

      <div class="info">
        <img src="../../../assets/imgs/target-3535310_960_720.jpg" alt="">
        <p>Fournir des solutions efficaces et durables pour tous vos besoins en terrassement, tout en assurant un service client exceptionnel.</p>
      </div>
    </div>

    <div class="why">
      <div class="title">Pourquoi nous choisir ?</div>
      <div class="data">
        <img src="../../../assets/imgs/SL-032722-49310-19.jpg" alt="">
       <div class="responses">
          <p><span></span> Une équipe qualifiée et expérimentée</p>
          <p><span></span> Des équipements modernes et performants</p>
          <p><span></span> Respect des normes de sécurité et de l'environnement</p>

       </div> 
      </div>
    </div>
</div>
