* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.context {
    width: 80%;
    margin: auto;

    
}
.title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: 55px 0px;
    
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: gainsboro;
    border-radius: 15px;
}


.details p {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.details img {
        border-radius: 100%;
        width: 350px;
        height: 350px;
}

.text {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    height: 50%;
    justify-content: space-around;
    border-radius: 15px;
}

.text span {
    font-size: 55px;
    font-weight: 600;
}

.text p {
    width: 80%;
}


.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 35px 0px ;    
    height: 80vh;
    border: 2px solid gray;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
}
.mission::before {
    content: '';
    width: 996px;
    height: 996px;
    position: absolute;
    background-color: #e3e4f2;
    left: 975px;
    top: 0px;
    z-index: -54;
    border-radius: 50%;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
    height: 80%;
    border-radius: 15px;
    position: relative;
    
}
.info:before {
    content: '';
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    
}

.info img {
    width: 550px;
    height: 100%;
    border-radius: 15px;
    z-index: 12;
    border: 2px solid gray;
}

.info p {
    width: 44%;
    background-color: white;
    border-radius: 15px;
    height: 150px;
    line-height: 45px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -50px 5px 0px rgb(129, 174, 243);
    border: 5px solid rgba(0, 0, 0, 0.829) ;
}

.data  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data img {
    width: 550px;
    height: 100%;
    border-radius: 15px;
}

.data .responses {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.responses p {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;

}

.responses p span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 20px;
    margin: 15px;
}
.responses p:nth-child(1) span {
    background-color: rgb(153, 55, 42);

}
.responses p:nth-child(2) span {
    background-color: green;

}
.responses p:nth-child(3) span {
    background-color: rgb(179, 187, 64);

}



 /*Media Query*/


 @media (max-width: 603px) {


    .title {
        font-size: 23px;
    }
    .details  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-items: center;
        height: 500px;
        background-color: gainsboro;
        border-radius: 15px;
    }


    .text {
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: aliceblue;
        height: 50%;
        justify-content: space-around;
        border-radius: 15px;
    }
    
    .text span {
        font-size: 23px;
        font-weight: 600;
    }
    
    .text p {
        width: 80%;
        font-size: 14px;
    }

.details img {
        border-radius: 100%;
        width: 190px;
        height: 190px;
}


.mission {
    padding: 0px;
    height: 90vh;
    overflow: scroll;
}

.mission .title {
    font-size: 23px;
    padding: 0px;
}
.mission .info {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;


}

.mission .info img {
    width: 80%;
    height: 200px;

}

.mission .info p {
    padding: 15px;
    width: 80%;
    margin: 0px;
    font-size: 10px !important;
    line-height: 20px;


}
.mission::before {

    width: 0px;
    height: 0px;
}

.info:before {

    width: 0px;
    height: 0px;
}

.data  {
    display: flex;
    flex-direction: column;
}

.data img {
    width: 550px;
    height: 100%;
    border-radius: 15px;
}

.data .responses {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    font-size: 14px;
}

}