* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.context {
    width: 100%;
    margin: auto;

    
}
.title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: 55px 0px;
    
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    border-radius: 15px;
    width: 75%;
    margin: auto;
}


.details p {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.details img {
        border-radius: 100%;
        width: 350px;
        height: 350px;
}

.text {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    border-radius: 15px;
}

.text span {
    font-size: 55px;
    font-weight: 600;
}

.text p {
    width: 80%;
}


.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 35px 0px ;    
    border-radius: 35px;
    position: relative;
    overflow: hidden;
}


.info {

    padding: 35px 50px;
    border-radius: 15px;
    position: relative;
    width: 100%;
}

.info .images {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.info img {
    width: 450px;
    height: 450px;
    border: 2px solid gray;
}

.mission-text {
    line-height: 45px;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
   
}


.data  {
    display: flex;
    flex-direction: column;
   
}

.data img {
    width: 550px;
    height: 550px;
    border-radius: 15px;
    margin: auto;
}

.data .text {
    width : 90%;
    padding: 15px 25px;
    line-height: 45px;
    margin: auto;
    margin-top: 25px;
}

.data h2 {
    margin-left: 25px;
    font-size: 25px;
    margin: 25px;

}
 /*Media Query*/


 @media (max-width: 603px) {


    .title {
        font-size: 23px;
    }
    .details  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-items: center;
        height: 500px;
        border-radius: 15px;
    }


    .text {
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50%;
        justify-content: space-around;
    }
    
    .text span {
        font-size: 23px;
        font-weight: 600;
        padding: 8px;
    }
    
    .text p {
        width: 80%;
        font-size: 14px;
        text-align: center;
    }

.details img {
        border-radius: 100%;
        width: 190px;
        height: 190px;
}


.mission {
    padding: 0px;
    height: 90vh;
    overflow: scroll;
}

.mission .title {
    font-size: 23px;
    padding: 0px;
}
.mission .info {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;


}

.mission .info img {
    width: 80%;
    height: 200px;

}

.mission .info p {
    padding: 15px;
    width: 80%;
    margin: 0px;
    font-size: 10px !important;
    line-height: 20px;


}
.mission::before {

    width: 0px;
    height: 0px;
}

.info:before {

    width: 0px;
    height: 0px;
}

.data  {
    display: flex;
    flex-direction: column;
}

.data img {
    width: 350px;
    height: 100%;
}

.data h2 {
    font-size: 23px;
}



}