<div class="navbar">
    <div class="logo">
        <img src="../../../assets/imgs/Capture d’écran du 2024-09-23 10-34-46.png" alt="">
    </div>
   <ul>
    <li>
        <span><ion-icon name="home-outline"></ion-icon></span>
        <span>Home</span>
    </li>
    <li [routerLink]="[]" fragment="about" >
        <span><ion-icon name="information-circle-outline"></ion-icon></span>
        <span>About</span>
    </li>
    <li>
        <span><ion-icon name="albums-outline"></ion-icon></span>
        <span>Services</span>
    </li>
    <li>
        <span><ion-icon name="call-outline"></ion-icon></span>
        <span>Contact us</span>
    </li>
   </ul>
</div>