
<div class="context">
    <div class="details">
    <div class="text">
      <h2>welcome to website salah-eddine</h2>  
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut adipisci non cupiditate a numquam. Soluta tempore omnis quae ipsam voluptatibus impedit, cum quam corrupti vel voluptatem possimus modi harum commodi?</p>
    </div>

    <div class="images">
      <img src="../../../assets/imgs/119065247-constructeur-ingénieur-civil-personnage-de-dessin-animé-souriant-en-casque-et-gilet-vue-sur-la.jpg" alt="">
      <img src="../../../assets/imgs/197030850-concept-de-travaux-de-construction.jpg" alt="">
      <img src="../../../assets/imgs/97601897-sous-la-zone-de-construction-avec-des-ingénieurs-et-une-bétonnière-sur-fond-illustration.jpg" alt="">
      <img src="../../../assets/imgs/191546445-concept-d-ingénierie-de-construction-constructeur-avec-pelle-travaillant-avec-la-situation-des.jpg" alt="">

    </div>
    </div>
    <div class="intro">
        <img src="../../../assets/imgs/116d9500-3a6e-4c29-8752-3836fcbea4ca.webp" alt="">
    </div>
</div>
