
<div class="context">
   <div class="dark">
    <div class="text">
      <h2>Bienvenue sur notre site de Terrassement !</h2>  
<p>

  Nous sommes ravis de vous accueillir sur notre plateforme dédiée à tous vos projets de terrassement. Que vous soyez un particulier ou un professionnel, notre équipe expérimentée met à votre disposition son expertise pour répondre à vos besoins en matière de préparation de terrain, de nivellement, et d'aménagement extérieur.</p>
    </div>
   </div>
   

   
  <img src="" alt="">
 
</div>
