* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.services  {
    width: 90%;
    margin: auto;
}



.services .title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: 55px 0px;
}


.services .card {
    display: flex;
    align-items: center;
    margin: 25px 0px;
    height: 400px;
}


.services img {

    width: 400px;
    height: 300px;
    border-radius: 15px;
}

.services .text {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #8baac6;
    width: 70%;
    margin: 0px 35px;
    padding: 0px 25px;
    border-radius: 15px;
}
.services .card:nth-child(2) .text {
    background-color: #7d9dbb;

}

.services .card:nth-child(3) .text {
    background-color: #9a9fa3;

}

.services .card:nth-child(4) .text {
    background-color: #90c4ee;

}
.services .card:nth-child(5) .text {
    background-color: #acacac;

}

.services .card .text .header {
    font-size: 25px;
    font-weight: 600;
    
}

.services .card .text p {

    line-height: 25px;
}