
<div class="services" id="services">
    <div class="title"> Services </div>
    <div class="card">
        <img src="../../../assets/imgs/464834ff-ad1f-4da4-837e-78e389406b13.jpeg" alt="">
        <div class="text">
            <div class="header">Terrassement général</div>
            <p>Nous préparons votre terrain pour tout type de construction : maisons, routes, piscines, etc.</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/imgs/22691ed4-c198-40d4-85cb-30817904a1a2.jpeg" alt="">
        <div class="text">
            <div class="header">Nivellement et drainage</div>
            <p>Nous assurons un nivellement parfait de votre terrain et installons des systèmes de drainage pour éviter tout problème d'humidité.</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/imgs/c18edc20-2be0-48da-89c4-9469e8f30e7f.jpeg" alt="">
        <div class="text">
            <div class="header">Fondations et tranchées</div>
            <p>Que ce soit pour des fondations de bâtiments ou des tranchées pour tuyaux, nous travaillons avec précision et efficacité.</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/imgs/54c9b2a3-92ca-4cde-929b-6fa9dda7a747.jpeg" alt="">
        <div class="text">
            <div class="header">Aménagement extérieur</div>
            <p>Nous transformons vos espaces extérieurs pour qu'ils soient fonctionnels et esthétiques, que ce soit pour des jardins, des allées, ou des cours.</p>
        </div>
    </div>
</div>