* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 15px;
    height: 80%;
}



.info {

    display: flex;
    justify-content: start;
    align-items: center;
}


.info ion-icon {
    font-size: 25px;
    margin-right: 15px;

}


.info p {
    position: relative;
    top: 8px;
}